<link rel="import" href="/views/public/head.html?__inline">
<link rel="stylesheet" href="/lib/css/room.scss">
<body>
<!-- //导航 -->
<div class="yellow-nav">
	<link rel="import" href="/views/public/nav.html?__inline">
</div>
<!-- //导航 end -->

<!-- //main -->
<div class="main m0a fn-clear">
	
	<!-- //房间列表 -->
	<div class="right answer-room-list border-box fn-left">
		
		<ul class='fn-clear'>
			
			<li class='fn-left'>
				<div class='answer-room-list-question fn-clear'>
					<div>
						<img src="/lib/images/pic3.jpg" alt="">
						<a href='#'>
						</a>
					</div> 
				</div>
				<div class='answer-room-list-question-desc fn-clear'>
					<span>一年级</span>
					<span>物理</span>
					<p class='fn-right'>张老师</p>
				</div>
			</li>

			<li class='fn-left'>
				<div class='answer-room-list-question fn-clear'>
					<div>
						<img src="/lib/images/pic3.jpg" alt="">
						<a href='#'>
							<i class="fa fa-play-circle-o fa-spin"></i>
							<p>重新加入</p>
						</a>
					</div> 
				</div>
				<div class='answer-room-list-question-desc fn-clear'>
					<span>一年级</span>
					<span>物理</span>
					<p class='fn-right'>张老师</p>
				</div>
			</li>

			<li class='fn-left'>
				<div class='answer-room-list-question fn-clear'>
					<div>
						<img src="/lib/images/pic3.jpg" alt="">
					</div> 
				</div>
				<div class='answer-room-list-question-desc fn-clear'>
					<span>一年级</span>
					<span>物理</span>
					<p class='fn-right'>张老师</p>
				</div>
			</li>

			<li class='fn-left'>
				<div class='answer-room-list-question fn-clear'>
					<div>
						<img src="/lib/images/pic3.jpg" alt="">
					</div> 
				</div>
				<div class='answer-room-list-question-desc fn-clear'>
					<span>一年级</span>
					<span>物理</span>
					<p class='fn-right'>张老师</p>
				</div>
			</li>

			<li class='fn-left'>
				<div class='answer-room-list-question fn-clear'>
					<div>
						<img src="/lib/images/pic3.jpg" alt="">
					</div> 
				</div>
				<div class='answer-room-list-question-desc fn-clear'>
					<span>一年级</span>
					<span>物理</span>
					<p class='fn-right'>张老师</p>
				</div>
			</li>
			
		</ul>

		<!-- //翻页 -->
		<div class="page">
			<a href="#"><i class="fa fa-angle-left"></i></a>
			<a href="#">1</a>
			<span class='active'>2</span>
			<a href="#">3</a>
			<span>...</span>
			<a href="#">10</a>
			<a href="#">11</a>
			<a href="#"><i class="fa fa-angle-right"></i></a>
		</div>
		<!-- //翻页 end -->

	</div>
	<!-- //房间列表 end -->
	
	<% if(user.username){ %>
		<!-- //右侧操作 -->
		<div class="left room-answer-control text-center border-box fn-right">
			<button class='btn btn-main'>开始答疑</button>
		</div>
		<!-- //右侧操作 end -->
	<% } else { %>
		<!-- //右侧操作 -->
		<div class="left room-answer-control border-box fn-right">
			<p>若是学生，请<a href="/app">下载APP</a>进行答疑。</p>
			<p>若是老师，请先去<a href="#">www.yousi.com</a>注册成为优思家教教员。</p>
		</div>
		<!-- //右侧操作 end -->
	<% } %>

</div>
<!-- //main end -->

<!-- //队列中 -->
<div class="room-queue pop">
	<div class="pop-content">
		还有<span>5</span>个老师在排队，请耐心等待
	</div>
	<div class="pop-btn-wrap text-right">
		<button class='btn btn-gray'>放弃上课</button>
	</div>
</div>
<!-- //队列中 end -->

</body>
</html>
