<link rel="import" href="/views/public/head.html?__inline">
<body class='index-body'>
<!-- //第一屏 -->
<div class="main-viewport">
	
	<!-- //大背景幻灯 -->
	<ul class='fn-clear'>
		<li>
			<a href="#"></a>
		</li>
	</ul>
	<!-- //大背景幻灯 end -->

	<!-- //内容 -->
	<div class="index-ctn">
		<h1>学无止境，优思随行</h1>
		<p>吾日三省吾身：为人谋而不忠乎？与朋友交而不信乎？传不习乎？</p>
		<div class="index-ctn-btn-wrap">
			<a href="/web/app" class='btn btn-main'>下载APP</a>
			<!-- <a href="/answer/answers" class='btn'>观习</a> -->
		</div>
	</div>
	<!-- //内容 end -->

	<!-- //导航 -->
	<div class="nav-wrap-index">
		<link rel="import" href="/views/public/nav.html?__inline">
	</div>
	<!-- //导航 end -->

</div>
<!-- //第一屏 end -->

</body>
</html>
