<link rel="import" href="/views/public/head.html?__inline">
<link rel="stylesheet" href="/lib/css/app.scss">
<body>
<!-- //导航 -->
<div class="yellow-nav">
	<link rel="import" href="/views/public/nav.html?__inline">
</div>
<!-- //导航 end -->

<!-- //main -->
<div class="main app m0a fn-clear">
	
	<div class="fn-left">
		<img src="/lib/images/app-ios-show.png" alt="">	
	</div>
	
	<div class="fn-right text-center">
		<div class="app-icon text-center">
			<img src="/lib/images/app-icon.png" alt="">
		</div>
		<h2><strong>优思答疑</strong>，学无止境，优思随行</h2>
		<p>优思家教，可能是你最好的家教老师！</p>
		<div class="app-icon-download m0a fn-clear">
			<div class="fn-left">
				<a class="app-ios-download" href="#"></a>
				<a class="app-android-download" href="#"></a>
			</div>
			<div class="fn-right">
				<img src="/lib/images/downloadCode.png" width="120" alt="">
			</div>
		</div>
	</div>

</div>
<!-- //main end -->

<!-- //footer -->
<link rel="import" href="/views/public/foot.html?__inline">
<!-- //footer -->

</body>
</html>
