<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%-roomID %>号房间</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta name='renderer' content="webkit">
	<meta name="360-site-verification" content="7175bd50683ee48de9180cd00b6e95fd">
	<link rel="stylesheet" href="/lib/compontent/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/lib/css/common.scss">
	<link rel="stylesheet" href="/lib/css/painter.scss">
</head>
<body class='border-box p-body'>
	
	<!-- //header -->
	<div class="p-header border-box fn-clear">
		<div class="fn-left">
			<h1 id='roomNumber'><%-roomID %>号房间</h1>
		</div>
		<div class="fn-right">
			<span>
				<img src="<%-user.photo %>" alt="">
			</span>
			<strong><%-user.nickname %></strong>
			<i class="fa fa-sort-desc"></i>
		</div>
	</div>
	<!-- //header end -->

	<!-- //main -->
	<div class="p-main fn-clear border-box">

		<!-- //右边栏 -->
		<div class="p-status-wrap border-box">
			<!-- //对方video -->
			<div id='other-video' class="p-video">

				<!-- <div id="video">
				<div id="agora_local" style="width:160px;height:120px"></div>
				</div> -->
				<!-- <div id="container">
	                <a class="btn btn-default btn-lg " id="pickfiles" href="#" >
	                    <i class="glyphicon glyphicon-plus"></i>
	                    <span>选择文件</span>
	                </a>
	            </div> -->
	            <!-- <form id='form' method="post" action="http://upload.qiniu.com/"
				 enctype="multipart/form-data">
				  <input name="key" type="hidden" value="">
				  <input name="token" type="hidden" value="">
				  <input id='forminput' name="file" type="file" />
				</form> -->
			</div>
			<!-- //对方video end -->

			<!-- //自己video -->
			<div id='my-video' class="p-video">
				<img src="<%-user.photo %>" alt="">
			</div>
			<!-- //自己video end -->

			<!-- //题目信息 -->
			<div id='p-question' class="p-question border-box">
				<ul>
					<li>
						<!-- <img src="/lib/images/q1.jpg" height='100%' alt=""> -->

					</li>
					<li>
						<img src="/lib/images/pic3.jpg" height='100%' alt="">
					</li>
				</ul>
				<i id='question-left' class="fa fa-chevron-left"></i>
				<i id='question-right' class="fa fa-chevron-right"></i>
			</div>
			<!-- //题目信息 end -->

			<!-- //操作 -->
			<div class="p-control border-box fn-clear">
				<a id='end-course-tutor' class='p-close-room end-course' href="#">结束上课</a>
			</div>
			<!-- //操作 end -->

			<!-- //聊天框 -->
			<div class="p-chat border-box">
				<div class="p-chat-ctn border-box">
					<div id='chat' class="p-chat-dl">
						<!--<dl>
							<dt>
								<img src="/lib/images/pic2.jpg" alt="">
								我是好学生
							</dt>
							<dd>你为什么不讲一道简单的题目呢，这样我就明白了啊，以后就拥有四家教了</dd>
						</dl> -->
					</div>
					
				</div>
				<div class="p-chat-type fn-clear">
					<div class="fn-left">
						<input type="text" name='chat' placeholder='输入聊天内容'>
					</div>
					<div class="fn-right">
						<button id='chatSubmit'>发送</button>
					</div>
				</div>
			</div>
			<!-- //聊天框 end -->

		</div>
		<!-- //右边栏 end -->
	
		<!-- //右边画板 -->
		<div id='canvas-wrap' class="canvas-wrap border-box" style='width:1330px; height:728px'>
			
		</div>
		<!-- //右边画板 end -->

	</div>
	<!-- //main end -->

	<!-- //shadow -->
	<div class="shadow"></div>
	<!-- //shadow end -->

	<!-- //加载中 -->
	<div class="loading">
		<i class="fa fa-spinner fa-spin"></i>
		<p>音频加载中，时间可能有点长，请耐心等待...</p>
	</div>
	
	<!-- //加载中 end -->

	<!-- //结束上课弹出框 -->
	<div id='p-end-course' class="pop fn-hide" data-role='tutor'>
		<div class="pop-content">
			<p>将要结束上课？</p>
		</div>
		<div class="pop-btn-wrap">
			<a href="#" class='pop-btn pop-btn-submit'>确定</a>
			<a href="#" class='pop-btn pop-btn-cancel'>取消</a>
			<span class="errorMsg"></span>
		</div>
	</div>
	<!-- //结束上课弹出框 end -->

	<!-- //监听到对方已结束上课 -->
	<div id='p-end-course-teacher' data-role='teacher' class="pop p-leave-course fn-hide">
		<div class="pop-content">
			<p>对方已经结束上课</p>
		</div>
		<div class="pop-btn-wrap">
			<a href="#" class='pop-btn pop-btn-submit'>离开房间</a>
		</div>
	</div>
	<!-- //监听到对方已结束上课 end -->

	<!-- //对方断电重连中 -->
	<div id='p-waiting-course' class="pop p-waiting-course fn-hide">
		<div class="pop-content">
			<p>对方突然断线，等待重连中...</p>
			<p class='countdown'>
				<strong>05:00</strong> 后彻底断开才可离开房间
			</p>
		</div>
		<div class="pop-btn-wrap">
			<a href="#" class='pop-btn pop-btn-submit disabled'>离开房间</a>
		</div>
	</div>
	<!-- //对方断电重连中 end -->

	<!-- //评价 -->
	<div id='p-evaluate' class="p-evaluate fn-clear fn-hide">
		<h2>评价教师</h2>
		<!-- <i class="fa fa-times close"></i> -->
		<dl>
			<dt>星级：</dt>
			<dd id='p-evaluate-star' class='p-evaluate-star hover'>
				<input type="hidden" name='evaluate' value='0'>
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
			</dd>
		</dl>
		<dl>
			<dt>评价：</dt>
			<dd>
				<textarea name='evaluate-ctn'></textarea>
			</dd>
		</dl>
		<dl>
			<dt></dt>
			<dd>
				<a href="#" class='submit evaluate-btn'>提交评价</a>
				<a href="#" class='cancel evaluate-btn'>狠心跳过评价</a>
				<span class="errorMsg"></span>
				<span class="successMsg"></span>
			</dd>
		</dl>
	</div>
	<!-- //评价 end -->

	<!-- //jquery 与配置js -->
	<script src="/lib/js/config.js"></script>
	<script type="text/javascript" src="/lib/js/classroom/sketch/user.js"></script>
	<script>

		/**
		 * 拿到服务器数据
		 */
		user.username = '<%-user.nickname %>';
		user.answerID = undefined;
		user.roomID = '<%-roomID %>';
		user.role = "<%-user.role %>";
		user.photo = '<%-user.photo %>';
		user.uid = '<%-user.uid %>';

	</script>
	<script src="/lib/compontent/jquery/jquery.min.js"></script>
	<script src="/lib/compontent/jquery-awesome-cursor/dist/jquery.awesome-cursor.min.js"></script>
	<!-- //jquery 与配置js end -->
	
	<!-- //js模块 -->
	<script src="/lib/js/classroom/log.js"></script>
	<script src="/lib/js/classroom/chat.js"></script>
	<script src="/lib/js/classroom/setQuestionSize.js"></script>
	<script src="/lib/js/classroom/get_canvas_size.js"></script>
	<script src="/lib/js/classroom/painter_init.js"></script>
	<script src="lib/js/classroom/evaluate.js"></script>
	<!-- //js模块 end -->
	
	<!-- //画板sketchjs -->
	<script type="text/javascript" src="/lib/js/classroom/sketch/fabric.min.js"></script>
	<script type="text/javascript" src="/lib/js/classroom/sketch/canvas.js"></script>
	<script type="text/javascript" src="/lib/js/classroom/sketch/sketch.js"></script>
	<!-- //画板sketchjs end -->

	<!-- //状态检测 -->
	<script>
		//检测加载腾讯sdk是否成功 以及 录音是否开始成功
		var tencentsdkRecordCheck = function (data){
			var tencentSdkCheck = external.StartQAVSdk(user.uid, "1234", user.roomID);
			if (tencentSdkCheck) {
				log('sdk初始化成功', '系统消息');
				/**
				 * 问题尺寸初始化
				 */
				$('#p-question ul').html('<li><img src="' + data.data.question.imgUrl +'"></img></li>');
				setQuestion.init();
				$('.shadow, .loading').addClass('fn-hide');
			} else {
				initErrorFunc();
				alert('加载sdk失败');
			}
		}

		//加载失败的处理
		var initErrorFunc = function () {
			cloneWindowFlag = true;
			$('.loading').html('<a href="/web/room">重启匹配</a>')
		};
		
		//启动音视频通讯sdk
		// log(external.StartQAVSdk("someone", "12344", 200002), '系统消息') 
		// //停止音视频通讯sdk
		// // log(external.StopQAVSdk(), '系统消息');
		// //开始录音
		// log(external.StartRecordAudio(), '系统消息');
		// //停止录音
		// log(external.StopRecordAudio(), '系统消息');

	</script>
	<!-- //状态检测end -->

	<!-- //链接服务器 -->
	<script src="/lib/js/classroom/pomepo/build/build.js"></script>
	<script type="text/javascript">
		require('boot');
		var pomelo = window.pomelo,
			host = undefined,
			port = undefined,
			roomID = '<%-roomID %>',
    		uid = '<%-user.uid %>';
    	$.ajax({
    		type : 'GET',
    		url : config.API_URL + '/api/room/conf?id=' + roomID,
    		success : function (data) {
    			console.log('data', data)
    			if (!!data && typeof data == 'string') {
    				data = JSON.parse(data);
    			}
    			if (data.code == 200) {
    				host = data.data.host;
    				
    				port = data.data.port;
    				user.answerID = data.data.answerID;

    				// 开始长连接匹配
    				pomelo.init({
						host: host,
						port: port,
						log: true
					}, function(data) {
						//进入房间-push

						pomelo.request('connector.roomHandler.enter', {
							uid: uid,
							role: 'student',
							roomID: roomID 
						}, function (data) {
							console.log(data, '进入房间')
							if (data.code  == 200) {
								tencentsdkRecordCheck(data);
								$('.shadow, .loading').addClass('fn-hide');
							} else {
								initErrorFunc();
								alert(data.desc);
							}
						});

						initPainter.setCanvasSize(1330, 728);
						sketch.init('canvas-wrap', "passive"); //skeetch 初始化

						pomelo.on('room.draw', function (data) {
							if ((data.data.op)[0])
							sketch && sketch.mode == 'passive' && sketch.onCommand(data.data.op);

							/**
							 * 监听教师鼠标位置移动
							 */
							if ((data.data.op)[1].length) {
								$('.p-mouse').css({
									'left' : (data.data.op)[1][0],
									'top' : (data.data.op)[1][1]
								});
							}
							
						})

					});

    			} else {
    				initErrorFunc();
    				alert(data.desc + ', 请重新匹配');
    			}
    		},
    		error : function () {

    		}
    	})

	</script>
	<!-- //链接服务器 end -->

	<!-- //主要js -->
	<script src="/lib/js/classroom/painter.js"></script>
	<!-- //主要js end -->

</body>
</html>