<!-- //导航 -->
<nav class="nav">
	
	<div class="nav-inner m0a fn-clear">
		<!-- //logo -->
		<div class="logo fn-left">
			<a href="/web/">优思答疑</a>
		</div>
		<!-- //logo end -->
		
		<!-- //链接 -->
	
		<!-- //链接 end -->

		<!-- //登录 -->
		<div class="fn-right">

			<% if (nav == 'room') { %>
				<a href="/web/room" class='active'>答疑房间</a>
			<% } else { %>
				<a href="/web/room">答疑房间</a>
			<% } %>
			
			<% if (nav == 'answer') { %>
				<a href="/web/answer" class='active'>答疑记录</a>
			<% } else { %>
				<a href="/web/answer">答疑记录</a>
			<% } %>

			<% if (nav == 'app') { %>
				<a href="/web/app" class='active'>下载APP</a>
			<% } else { %>
				<a href="/web/app">下载APP</a>
			<% } %>

			<% if(user.uid){ %> 
				<% if (user.role == 'teacher') { %>
					<% if (nav == 'info') { %>
						<a href="/web/user/tutorInfo/1" class='active'><%-user.nickname %></a>
					<% } else { %>
						<a href="/web/user/tutorInfo/1"><%-user.nickname %></a>
					<% } %>
				<% } else { %>
					<% if (nav == 'info') { %>
						<a href="/web/user/tutorInfo/1" class='active'><%-user.nickname %></a>
					<% } else { %>
						<a href="/web/user/tutorInfo/1"><%-user.nickname %></a>
					<% } %>
				<% } %>
			<% } else { %>
				<% if (nav == 'Login') { %>
					<% if (role == 'teacher') { %>
						<a href="/web/account/tutorLogin" class='active'>教师入口</a>
						<a href="/web/account/studentLogin">学生入口</a>
					<% } %>
					<% if (role == 'student') { %>
						<a href="/web/account/tutorLogin" >教师入口</a>
						<a href="/web/account/studentLogin" class='active'>学生入口</a>
					<% } %>
				<% } else { %>
					<a href="/web/account/tutorLogin">教师入口</a>
					<a href="/web/account/studentLogin">学生入口</a>
				<% } %>
			<% } %>
			
			<!--
			<a class='' href="/users/login">
				<i class="fa fa-user-plus"></i>
				注册
			</a>
			<a href="/users/login">
				<i class="fa fa-user"></i>
				登录
			</a>
			-->
		</div>
		<!-- //登录 end -->
	</div>

</nav>
<!-- //导航 end -->
<!-- //弹出框 -->
<link rel="import" href="/views/public/pop.html?__inline">
<!-- //弹出框 end -->