<link rel="import" href="/views/public/head.html?__inline">
<link rel="stylesheet" href="/lib/css/user.scss">
<body>

<!-- //导航 -->
<div class="yellow-nav">
	<link rel="import" href="/views/public/nav.html?__inline">
</div>
<!-- //导航 end -->

<!-- //main -->
<div class="main m0a fn-clear">
	
	<!-- //侧边栏 -->
	<aside class="left fn-left aside">
		<link rel="import" href="/views/public/aside_student.html?__inline">
	</aside>
	<!-- //侧边栏 end -->

	<!-- //内容区 -->
	<div class="right fn-right">


		<!-- //上课记录 -->
		<div class="usercenter border-box fn-clear">
			<nav class="title fn-clear">
				<a class='active' href="#">答疑记录</a>
			</nav>
			<div class="ctn border-box answer-list fn-clear">
				
				<!-- //答疑记录 -->
				<ul id='answerList'>
					<div class="placeholder">
						<i class="fa fa-circle-o-notch fa-spin"></i>
					</div>
				</ul>
				<!-- //答疑记录 end -->
				
				<!-- //翻页 -->
				<div id="answerPage" class="page">
					
				</div>
				<!-- //翻页 end -->
			</div>
		</div>
		<!-- //上课记录 -->
		
	</div>
	<!-- //内容区 end -->

</div>
<!-- //main end -->

<!-- //footer -->
<link rel="import" href="/views/public/foot.html?__inline">
<!-- //footer -->

<script src='/lib/compontent/requirejs/require.js'></script>
<script>
	require(['/lib/js/userStudent/main', '/lib/js/common/common'], function (student, common) {
		//学生js
		student.init();
		//通用js
		common.init();
	})
</script>

</body>
</html>
